/*
 * simple-and-clean.css - CSS2 style sheet
 */

body {
    font: normal normal normal 15px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    background: White;
    color: Gray;
    margin: 1em;
    padding: 1em;
}

.masthead {
    padding-left: 2em;
    padding-top: .5em;
    padding-bottom: 0.25em;
}

.masthead-logo {
    height: 70px;
    padding-bottom: 1em;
}

.library-details, .repo-contents, .libraries, .groups, .versions {
    padding-top: 0.15em;
    padding-bottom: 0em;
}

.main-masthead {
    padding: 1em;
    text-align: center;
}

.main-masthead-logo {
    height: 110px;
    padding-right: 2.5em;
    padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: CornflowerBlue;
    clear: left;
    font: 100% Verdana, Helvetica, Arial, sans-serif;
    margin: 20;
    padding-left: 0.5em;
} 

h1 {
    font-size: 190%;
    border-bottom: none;
    text-align: left;
    color: LightSteelBlue;
}
    
h2 {
    font-size: 180%;
}

h3 {
    font-size: 155%;
    color: SlateGray;
}

h4 {
    font-size: 140%;
    padding-left: 1.5em;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

a {
    text-decoration: underline;
    color: CornflowerBlue;
}

h1 a {
    text-decoration: underline;
    color: RoyalBlue;
}

h3 a {
    text-decoration: underline;
    color: SlateGray;
}

.dir-list {
    color: LightSteelBlue;
    font-size: 155%
}

strong {
    font-weight: bold;
    color: RoyalBlue;
}

code,
blockquote,
pre {
    font-size: 120%;
    padding: 1em;
    border: 1px solid Black;
    color: Black;
    background-color: #dedede;
}

#gallerycomment {
    text-align: center;
}

#rss-desc {
    text-align: right;
    font-size: smaller;
}

ul {
    list-style-type: none;
}

li {
    margin: .25em;
}

div .item-desc {
    margin-bottom: 1em;
}

.item-title {
    margin-bottom: 0.5em;
}